<h1>Austin Campaign Report Filing</h1>

<p>
	Welcome to the City of Austin online campaign finance report filing.
</p>

<% if user_signed_in? %>
  <div class="span4">
    <legend>Filer Details</legend>
    <% if @filer.present? %>
      <p>
        <%= @filer.name_prefix %>
        <%= @filer.name_first %>
        <%= @filer.name_mi %>
        <%= @filer.name_last %>
        <%= @filer.name_suffix %>
        (<%= @filer.name_nick %>)
      </p>

      <p>
        <%= @filer.address_street %>
        <%= @filer.address_suite %><br />
        <%= @filer.address_city %>
        <%= @filer.address_state %>
        <%= @filer.address_zip %><br />
        <%= @filer.phone %>
      </p>

      <div class="form-actions">
        <%= link_to 'Edit Filer', edit_user_filer_path(@user, @filer), :class => 'btn' %>
      </div>
    <% else %>
      <p>You haven't added your filer information, yet. Please add your filer information to continue.</p>
      <div class="form-actions">
        <%= link_to 'Add Filer', new_user_filer_path(@user), :class => 'btn' %>
      </div>
    <% end %>

  </div>

  <div class="span4">
    <% unless @filer.blank? %>
      <legend>Treasurer Details</legend>
      <% if @treasurer.present? %>
        <p>
          <%= @treasurer.name_prefix %>
          <%= @treasurer.name_first %>
          <%= @treasurer.name_mi %>
          <%= @treasurer.name_last %>
          <%= @treasurer.name_suffix %>
          (<%= @treasurer.name_nick %>)
        </p>

        <p>
          <%= @treasurer.address_street %>
          <%= @treasurer.address_suite %><br />
          <%= @treasurer.address_city %>
          <%= @treasurer.address_state %>
          <%= @treasurer.address_zip %><br />
          <%= @treasurer.phone %>
        </p>

        <div class="form-actions">
          <%= link_to 'Edit Treasurer', 
            edit_user_filer_treasurer_path(@user, @filer, @filer.treasurer), :class => 'btn' %>
        </div>
      <% else %>
        <p>You haven't added your treasurer information, yet. Please add your treasurer to continue.</p>
        <div class="form-actions">
          <%= link_to 'Add Treasurer', new_user_filer_treasurer_path(@user, @filer), 
            :class => 'btn' %>
        </div>
      <% end %>
    <% end %> 
  </div>

  <% content_for(:sidebar) do %>
    <h2>Instructions</h2>
    Please use the form on the left to manage your filing information and reports.
  <% end %>

<% else %>
  <p>
    To get started, please <%= link_to 'Login', new_user_session_path %> or 
    <%= link_to 'Sign up for a new account', new_user_registration_path %>.
  </p>

  <% content_for(:sidebar) do %>
    <h2>About this Site</h2>
    This website provides a public searchable and downloadable database of 
    all electronic campaign finance reports, lobbying reports, 
    and independent expenditures for political campaigns in the 
    city of Austin.
  <% end %>

<% end %>
